<div class="my-2">
    <h2 class="company__heading">More than 50k recruiters from leading tech companies are hiring</h2>
    <div class="container d-flex justify-content-between my-3" style="margin: auto;">
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/Flipkart-160X35.png">
        </div>
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/webp/Amazon-160X35.webp">
        </div>
        <div class="company__image__container">
        <img src="https://staticlogo.hirist.com/webp/Snapdeal-160X35.webp">
    </div>
    <div class="company__image__container">
        <img src="https://staticlogo.hirist.com/webp/Meesho-160X35.webp">
    </div>
    </div>
    <div class="container d-flex justify-content-between my-3" style="margin: auto;">
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/webp/Oyo-160X35.webp">
        </div>
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/webp/Myntra-160X35.webp">
        </div>
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/webp/Bookmyshow-160X35.webp">
        </div>
        <div class="company__image__container">
            <img src="https://staticlogo.hirist.com/webp/Rapido-160X35.webp">
        </div>
    </div>
</div>