<div class="container" style="margin-top: 6rem;">
  <div class="row">
      <% @jobs.each do |job| %>
        <%= render partial: "shared/jobs_partials/job_card", locals: {job: job} %>
      <% end %>
  </div>
</div>
