<div class="container">
  <div class="row">
    <div class="col-md">
      <% @jobs.each do |job| %>
        <div class="card my-2">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title"><%= job.title %></h5>
            <p class="card-text"><%= job.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md">
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium neque adipisci perspiciatis error, nobis tempore commodi sequi repellat ipsam aspernatur modi labore quidem quia reiciendis sapiente itaque voluptatibus quaerat officia?</div>
    </div>
  </div>
</div>
