<style>
.removed{
        transform: translateX(100vw);
        opacity: 0;
        transition: all 0.7s ease-in-out;
}
</style>



<%= render partial: "shared/recruiter_partials/sidebar" %>

<div class="container" style="margin-top: 6rem;">    
        <% @recruiter_jobs.each do |job| %>
            <%= render partial: "shared/recruiter_partials/recruiter_job_card", locals: {job: job}%>
        <% end %>
</div>




<script>
    let jobCardArr = document.querySelectorAll(".jobcard__btn");
    for(let i= 0; i<jobCardArr.length; i++) {
        // console.log(e.target);
        jobCardArr[i].addEventListener("click", (e) => {
            console.log(e.target.parentElement.parentElement.parentElement);
            
            e.target.parentElement.parentElement.parentElement.classList.add("removed");

            setTimeout(() => {
                e.target.parentElement.parentElement.parentElement.remove();
            }, 700);

            console.log( "recruiter/" + <%= current_user.id %> + "/recruiter_jobs/");
            jobId = getJobId();
            console.log(jobId);
            jobUrl = "recruiter/" + <%= current_user.id %> + "/recruiter_jobs/" + jobId;
            console.log(jobUrl);


            Rails.ajax({
                url: jobUrl,
                type: "delete",
            });
            
        });
    }
</script>


