.navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
    width: 200px;
}

/* .navbar-brand:hover {
    color: #f3e9e9;
} */

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #ffffff;
    transition: all 0.3s;
    text-transform: capitalize;
    font-weight: 500;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #7f4722;
}

.navbar-scrolled {
    background-color: #ffede7;  
}

.navbar-nav li {
    font-size: 1rem;
}

#my-toastr-container {
    position: absolute;
    z-index: 111111;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast {
  background-color: #00d9ff;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.00938em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.toast.toast-error {
    background-color: #f37107;
    font-family: sans-serif;
}
